.modal[name="post"] .box {
   flex-direction: column;
   max-width: 700px !important;
   gap: 10px;
}

.modal[name="post"] .entete i{
    font-size: 14px;
    cursor: pointer;
}

 .cont-info-pubs{
    background-color: red;
     /* width: 400px; */
    /* display: flex; */
 }
 .cont-info-pubs .position{
    display: flex;
    gap: 5px;
    padding: 5px;
    flex-direction: column;
 }
 .cont-info-pubs .position .cont-inp{
   flex-wrap: wrap;
   width: 100%;
    display: flex;
    gap:10px;
 }
 .cont-info-pubs .ui-input{
   flex: 1 1 calc(50% - 5px); 
}
.desc{
   display: flex;
   gap: 10px;
   justify-content: space-between;
   width: 100%;
}
.desc .un{
   width: 50%;
   gap: 10px;
   display: flex;
   flex-direction: column;
}