<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../img/logoloveb.png" type="image/x-icon">
    <link rel="stylesheet" href="../vendor/font-awesome-pro/css/all.css">
    <!-- Inbuilt -->
    <link rel="stylesheet" href="../css/app.css">
    <script src=""></script>
    <title>B!love</title>
</head>
<body>
<header>
  <nav>
     <div class="cont-un" show>
        <img src="../img/logoloveb.png" alt="">
       <div class="ui-control" >
         <div class="search">
           <div class="ui-input" theme="alpha" >
             <label for="fsd"><i class="fa-sharp-duotone fa-solid fa-magnifying-glass"></i></label>
             <input type="text" placeholder="Ville ou nom ou age ou description " id="fsd" autocomplete="off"> 
          </div>
            <!-- <span>OU</span>
            <button class="ui-btn" name="search" theme="alpha" size="large" color="blue"  ><i class="fa-duotone fa-solid fa-map-location"></i> SCANNER LE SECTEUR</button> -->
         </div>
          <div class="cont-btn">
            <button class="ui-btn" name="inscript" theme="alpha" size="large" color="blue" ><i class="fa-duotone fa-solid fa-pen"></i> PUBLIER</button>
            <button class="ui-btn" name="login" theme="alpha" size="large" color="blue" title="Se connnecter" ><i class="fa-duotone fa-solid fa-right-to-bracket"></i></button>
         </div>  
     </div> 
     </div>
     <div class="cont-2" >
      <div class="u">
       <img src="../img/logoloveb.png" alt="">
       <div class="cont-btn">
        <button class="ui-btn" name="inscript" theme="alpha" size="large" color="blue" ><i class="fa-duotone fa-solid fa-pen"></i> PUBLIER</button>
        <button class="ui-btn" name="login" theme="alpha" size="large" color="blue" title="Se connnecter"><i class="fa-duotone fa-solid fa-right-to-bracket"></i> </button></div>
       </div>
       <div class="search">
         <div class="ui-input" theme="alpha" >
            <label for="fsd"><i class="fa-sharp-duotone fa-solid fa-magnifying-glass"></i></label>
            <input type="text" placeholder="Ville ou Nom ou Age ou Description " id="fsd" autocomplete="off"> 
         </div>
           <!-- <span>OU</span>
           <button class="ui-btn" name="search" theme="alpha" size="large" color="blue"><i class="fa-duotone fa-solid fa-map-location"></i> CHECK</button> -->
        </div> 
      </div> 
       
     </nav>
   </header>
    <main id="users" >
      <section id="" class="cool-scroll-bar">
        <div class="cont-users">
          <div class="head">
            <div class="ph">
             <div class="avertis">
              <i class="fa-solid fa-triangle-exclamation"></i>
              <div class="txt">
                <p>Etat du compte</p>
                <p>Remplissez les informations de votre compte pour le rendre plus attirant</p>
              </div>
             </div>
             <div class="percent">
               70%
             </div>
            </div>      
            <div class="infos-profs" show>
              <div class="infos-prof" >
                <div><img src="../img/20154b24d267ebde046fd11ad1190ff3.jpg" alt=""></div>
                <div class="action">
                  <button class="ui-btn" name="edit" theme="alpha" size="large" color="blue" title="Modifier" ><i class="fa-duotone fa-solid fa-pen-to-square"></i> Modifier les informations </button>
                 
                </div>
                <span><i class="fa-duotone fa-solid fa-check"></i> </span> 
              </div>
              <div class="informations">
                <div class="name">
                  <div class="title">
                   <span><i class="fa-duotone fa-solid fa-user"></i> Pseudonyme</span>
                   <span> <i class="fa-duotone fa-solid fa-cake-candles"></i> Age</span>
                   <span> <i class="fa-duotone fa-solid fa-phone"></i> Contact</span>
                   <span> <i class="fa-duotone fa-solid fa-location-dot"></i> Localisation</span>
                   <span><i class="fa-duotone fa-solid fa-map-location-dot"></i> Apparaitre au maps </span>
                   <span> <i class="fa-duotone fa-regular fa-money-bill"></i> Grille tarifaire</span>
                   <span> <i class="fa-duotone fa-badge-check"></i> Statut</span>
                  </div>
                  <div class="infos">
                   <span>Mellisa de parie la tueuse</span>
                   <span>23 ans</span>
                   <span>07 79 29 82 68</span>
                   <span>Yopougon Maroc</span>
                   <span>Oui</span>
                   <span>2000 - 15 000 F</span>
                   <span class="state" state="on" > Actif</span>
                  </div>
                 </div>
                
              </div>
              <div class="picture" style="display:non;">
                <div class="control">
                  <span>Photos</span>  
                  <span>Toutes les photos</span>  
                </div>
                 <div class="cont-photo cool-scroll-bar">
                   <div> <img src="../img/mf.jpeg" alt=""></div>
                   <div> <img src="../img/mf.jpeg" alt=""></div>
                   <div> <img src="../img/mf.jpeg" alt=""></div>
                   <div>   <img src="../img/mf4.jpeg" alt=""></div>
                   <!-- <div>   <img src="../img/mf4.jpeg" alt=""></div> -->
                   <div> <img src="../img/mf.jpeg" alt=""></div>
                   <div> <img src="../img/mf.jpeg" alt=""></div>
                   <div> <img src="../img/mf.jpeg" alt=""></div>
                   <div>  <img src="../img/mf3.jpeg" alt=""></div>
                   <div class="btn-add-picture" title="Ajouter plus de photos"> +  <i class="fa-duotone fa-solid fa-images"></i></div>
                  <!-- <img src="../img/mf1.jpeg" alt="">
                  <img src="../img/mf2.jpeg" alt="">
                  <img src="../img/mf3.jpeg" alt="">
                  <img src="../img/mf4.jpeg" alt="">
                  <img src="../img/mf5.jpeg" alt=""> -->
                  </div>               
               </div>
            </div> 
          </div>
          <div id="stats">
            <span class="caract">Caracteristiques</span>
             <div class="stat">
            <div class="nb"> 
              <div>
                <span>Profil visité par</span>
                <i class="fa-solid fa-square-dashed"></i>
              </div>
              <div>
                <i class="fa-duotone fa-solid fa-user"></i> 
                <div>
                  <span>544</span> 
                  <span>PERSONNES</span> 
                </div>
              </div>
            </div>
            <div class="nb"> 
              <div>
                <span>Contacter par</span>
                <i class="fa-solid fa-square-dashed"></i>
              </div>
              <div>
                <i class="fa-duotone fa-solid fa-phone-office"></i> 
                <div>
                  <span>544</span> 
                  <span>PERSONNES</span> 
                </div>
              </div>
            </div>
            <div class="nb"> 
              <div>
                <span>Postes vus par</span>
                <i class="fa-solid fa-square-dashed"></i>
              </div>
              <div>
                <i class="fa-duotone fa-solid fa-user"></i> 
                <div>
                  <span>145 544</span> 
                  <span>PERSONNES</span> 
                </div>
              </div>
            </div>
             </div>
           
          </div>
          <div id="posts">
            <div class="head-post">
              <span>Mes postes</span>
              <span>155</span>
            </div>
             <div class="scroll-post cool-scroll-bar">
              <div class="post">
                <div class="pub">
                 <div class="post-picture">
                   <img src="../img/amber-rose-21-savage.jpg" alt="">
                 </div>
                 <div class="cont-post">
                   <div class="infos-post">
                     <div class="title">
                         <span><i class="fa-duotone fa-solid fa-user"></i> Titre</span>
                         <span> <i class="fa-duotone fa-solid fa-cake-candles"></i> Age</span>
                         <span> <i class="fa-duotone fa-solid fa-location-dot"></i> Localisation</span>
                         <span><i class="fa-duotone fa-regular fa-money-bill"></i> Tarif</span>
                      </div>
                      <div class="infos">
                         <span>Mellisa de parie la tueuse</span>
                         <span>23 ans</span>
                         <span>Yopougon Maroc</span>
                         <span>15 000 F</span>
                       </div>  
                   </div>
                 
                 </div>
                </div>
               <div class="cont-btn">
                 <button class="ui-btn" name="inscript" theme="alpha" size="large" color="blue" ><i class="fa-duotone fa-solid fa-pen"></i> </button>
                 <button class="ui-btn" name="inscript" theme="alpha" size="large" color="blue" ><i class="fa-solid fa-xmark-large"></i></button>
                 <button class="ui-btn" name="login" theme="alpha" size="large" color="blue"  ><i class="fa-duotone fa-solid fa-up-right"></i> BOOSTER</button>
              </div>
             </div>
             <div class="post">
               <div class="pub">
                <div class="post-picture">
                  <img src="../img/amber-rose-21-savage.jpg" alt="">
                </div>
                <div class="cont-post">
                  <div class="infos-post">
                    <div class="title">
                        <span><i class="fa-duotone fa-solid fa-user"></i> Titre</span>
                        <span> <i class="fa-duotone fa-solid fa-cake-candles"></i> Age</span>
                        <span> <i class="fa-duotone fa-solid fa-location-dot"></i> Localisation</span>
                        <span><i class="fa-duotone fa-regular fa-money-bill"></i> Tarif</span>
                     </div>
                     <div class="infos">
                        <span>Mellisa de parie la tueuse</span>
                        <span>23 ans</span>
                        <span>Yopougon Maroc</span>
                        <span>15 000 F</span>
                      </div>  
                  </div>
                </div>
               </div>
              <div class="cont-btn">
                <button class="ui-btn" name="inscript" theme="alpha" size="large" color="blue" ><i class="fa-duotone fa-solid fa-pen"></i> </button>
                <button class="ui-btn" name="inscript" theme="alpha" size="large" color="blue" ><i class="fa-solid fa-xmark-large"></i></button>
                <button class="ui-btn" name="login" theme="alpha" size="large" color="blue"  ><i class="fa-duotone fa-solid fa-up-right"></i> BOOSTER</button>
             </div>
            </div>
            <div class="post">
              <div class="pub">
               <div class="post-picture">
                 <img src="../img/cardi_b.webp" alt="">
               </div>
               <div class="cont-post">
                 <div class="infos-post">
                   <div class="title">
                       <span><i class="fa-duotone fa-solid fa-calendar-days"></i> Date</span>
                       <span><i class="fa-duotone fa-solid fa-user"></i> Titre</span>
                       <span> <i class="fa-duotone fa-solid fa-cake-candles"></i> Age</span>
                       <span> <i class="fa-duotone fa-solid fa-location-dot"></i> Localisation</span>
                       <span><i class="fa-duotone fa-regular fa-money-bill"></i> Tarif</span>
                       <span><i class="fa-duotone fa-solid fa-eye"></i> Vues</span>
                    </div>
                    <div class="infos">
                       <span>15 Novembre</span>
                       <span>Mellisa de parie la tueuse</span>
                       <span>23 ans</span>
                       <span>Yopougon Maroc</span>
                       <span>15 000 F</span>
                       <span>155124</span>
                     </div>  
                 </div>
               </div>
              </div>
             <div class="cont-btn">
               <button class="ui-btn" name="inscript" theme="alpha" size="large" color="blue" ><i class="fa-duotone fa-solid fa-pen"></i> </button>
               <button class="ui-btn" name="inscript" theme="alpha" size="large" color="blue" ><i class="fa-solid fa-xmark-large"></i></button>
               <button class="ui-btn" name="login" theme="alpha" size="large" color="blue"  ><i class="fa-duotone fa-solid fa-up-right"></i> BOOSTER</button>
            </div>
           </div>
           <div class="post">
            <div class="pub">
             <div class="post-picture">
               <img src="../img/cardi_b.webp" alt="">
             </div>
             <div class="cont-post">
               <div class="infos-post">
                 <div class="title">
                     <span><i class="fa-duotone fa-solid fa-user"></i> Titre</span>
                     <span> <i class="fa-duotone fa-solid fa-cake-candles"></i> Age</span>
                     <span> <i class="fa-duotone fa-solid fa-location-dot"></i> Localisation</span>
                     <span><i class="fa-duotone fa-regular fa-money-bill"></i> Tarif</span>
                  </div>
                  <div class="infos">
                     <span>Mellisa de parie la tueuse</span>
                     <span>23 ans</span>
                     <span>Yopougon Maroc</span>
                     <span>15 000 F</span>
                   </div>  
               </div>
             </div>
            </div>
           <div class="cont-btn">
             <button class="ui-btn" name="inscript" theme="alpha" size="large" color="blue" ><i class="fa-duotone fa-solid fa-pen"></i> </button>
             <button class="ui-btn" name="inscript" theme="alpha" size="large" color="blue" ><i class="fa-solid fa-xmark-large"></i></button>
             <button class="ui-btn" name="login" theme="alpha" size="large" color="blue"  ><i class="fa-duotone fa-solid fa-up-right"></i> BOOSTER</button>
          </div>
         </div>
             </div>
        </div>
      </section>
   </main>

   <div id="modals">
      <div class="modal" name="post" show>
       <div class="box">
        <div class="entete">  
          <span><i class="fa-duotone fa-solid fa-pen-to-square"></i> PUBLIER UNE ANNONCE</span>       
          <span><i class="fa-duotone fa-circle-xmark" style="--fa-primary-color: #db4d4d; --fa-secondary-color: #db4d4d;"></i></span>
        </div>
        <div class="cont-info-pubs">
         <div class="position">
           <span>Localisation</span>
           <div class="cont-inp">
            <div class="ui-input" theme="alpha" >
              <label for="fsd"><i class="fa-duotone fa-solid fa-location-dot"></i></label>
              <select id="fsd" > 
                <option value="">---VILLE---</option>
                <option value="">ABIDJAN</option>
                <option value="">ABIDJAN</option>
                <option value="">ABIDJAN</option>
                <option value="">ABIDJAN</option>
              </select>
             </div>
             <div class="ui-input" theme="alpha" >
              <label for="fsd"><i class="fa-duotone fa-solid fa-location-dot"></i></label>
              <select id="fsd" > 
                <option value="">---QUARTIER---</option>
                <option value="">ABIDJAN</option>
                <option value="">ABIDJAN</option>
                <option value="">ABIDJAN</option>
                <option value="">ABIDJAN</option>
              </select>
             </div>
           
           </div>
           
         </div>
         <div class="position">
          <span>A propos de l'annonce</span>
          <div class="cont-inp">
            <div class="ui-input" theme="alpha" >
              <label for="fsd"><i class="fa-duotone fa-solid fa-h1"></i></label>
              <input type="text" placeholder="Titre" id="fsd" autocomplete="off"> 
           </div>
           <div class="ui-input" theme="alpha" >
             <label for="fsd"><i class="fa-duotone fa-solid fa-person-half-dress"></i></label>
             <select id="fsd" > 
               <option value="">---SEXE---</option>
               <option value="">HOMME</option>
               <option value="">FEMME</option>
             </select>
            </div>
           <div class="desc">
               <textarea name="" id="" class="ui-input" theme="alpha" state="good"></textarea>
              <div class="un">
                <div class="ui-input" theme="alpha" >
                  <label for="fsd"><i class="fa-duotone fa-solid fa-ballot-check"></i></label>
                  <select id="fsd" > 
                    <option value="">---CLIENT ACCEPTE---</option>
                    <option value="">TOUT LE MONDE</option>
                    <option value="">HOMME</option>
                    <option value="">FEMME</option>
                  </select>
                    </div>
                    <div class="ui-input" theme="alpha" >
                   <label for="fsd"><i class="fa-duotone fa-solid fa-person-walking"></i></label>
                     <select id="fsd" > 
                     <option value="">---MOUVEMENT---</option>
                     <option value="">RECOIT</option>
                     <option value="">SE DEPLACE</option>
                   </select>
                    </div>
              </div>
           </div>      
          </div>
          
        </div>
        <div class="position">
          <span>Localisation</span>
          <div class="cont-inp">
           <div class="ui-input" theme="alpha" >
             <label for="fsd"><i class="fa-duotone fa-solid fa-location-dot"></i></label>
             <select id="fsd" > 
               <option value="">---VILLE---</option>
               <option value="">ABIDJAN</option>
               <option value="">ABIDJAN</option>
               <option value="">ABIDJAN</option>
               <option value="">ABIDJAN</option>
             </select>
            </div>
            <div class="ui-input" theme="alpha" >
             <label for="fsd"><i class="fa-duotone fa-solid fa-location-dot"></i></label>
             <select id="fsd" > 
               <option value="">---QUARTIER---</option>
               <option value="">ABIDJAN</option>
               <option value="">ABIDJAN</option>
               <option value="">ABIDJAN</option>
               <option value="">ABIDJAN</option>
             </select>
            </div>
          
          </div>
          
        </div>

        </div>


         
       </div>
      </div>
    </div>
   <!-- <footer>
      <div>
        <p> Bienvenue sur <img src="../img/logoloveb.png" alt=""></p>
        <p> Votre plateforme de BIZI avancé, recherchez rapidement un(e) escorte avec n'importe quel informations ou 
         scanner votre secteur pour une recherche plus avancé </p>
      </div>
   </footer>  -->
   
    
</body>
</html>