/* Variables */
:root{
    --color-white: #ffffff;
    --color-gray-soft: #F6F8FA;
    --color-gray-medium: #b0b0b0;
    --color-gray-hard: #595959;
    --color-gray-hard-1: #003566;
    /* --color-gray-hard-3: #d4d2d246; */
    --color-gray-hard-3: #f2f2f2e7;
    --color-gray-hard-5: #f2f2f2;
    --color-gray-hard-4: #5959592f;
    --color-blue-lite: #dbf5ff;
    --color-blue-soft: #00B0F0;
    --color-blue-soft-2: #9ab9dc;
    --color-blue-hard: #2A6EBB;
    --color-green-lite: #aefecf;
    --color-green-lite-2: #80d6a4;
    --color-green-hard: #41cf7c;
    --color-red-lite: #ffcdcd;
    --color-red-soft: #f58e8e;
    --color-red-hard: #f25353;
    --shadow-one: 0 0 5px #eee;
    --shadow-two: 0 0 5px #84b1c3;
    --shadow-3: 0 0 4px #bababa;
    --bezier-1: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}