@import url('./modals/registration.css');
@import url('./modals/publication.css');

#modals .modal{
    position: fixed;
    display: none;
    align-items: center;
    left: 0;
    top: 0;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #262f4ae8;
    z-index: 1000;
    transition: opacity .6s ease-in-out;
    animation: show-modal .5s ease-in-out;
 }
 .modal .box{
    background-color:white;
    min-width: 300px;
    max-width: 1300px;
    min-height: 270px;
    box-shadow: 0 0 5px 0px #263b80;
    padding: 15px;
    border-radius: 15px;
    opacity: 1;
    transform: scale(.9);
    animation: show-box .6s ease-in-out forwards;  
 }
 .modal:active .box{
    animation: show-box .6s ease-in-out forwards, show-cont .1s ease-in-out;
 }
 /* Animation > Affichage > Masquage */
 .modal[show]{
    display: flex !important;
 }
 .modal[show] .box{
    display: flex !important;
 }
 .modal[hide]{
    opacity: 0;
 }
 .modal[hide] .box{
    animation: hide-box .5s ease-in-out forwards;
 }


 