/* 
--> CSS du composant input

/* UI-INPUT-1 */
.ui-input{
    height: 40px;
    display: flex;
    align-items: center;
    color: var(--color-gray-hard);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 #e0e7ff;
    position: relative;
    margin-bottom: 0;
    transition: margin-bottom .3s ease-in-out, color .3s ease-in-out, box-shadow .3s ease-in-out;
}
textarea{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90px !important;
    resize: none;
    color: var(--color-blue-normal-2) !important;
    border: none;
}
textarea::placeholder{
    color: var(--color-blue-normal-2) !important;
}
.ui-input[data-state="bad"]::before{
    content: attr(data-error);
    position: absolute;
    font-size: 10px;
    right: 0;
    height: 20px; 
    color: var( --color-red-hard);
    text-align: right;
    transition: bottom .3s ease-in-out; 
    bottom: -25px !important;
}
.ui-input[data-state="bad"]{
    margin-bottom: 10px;
    border: 2px solid var( --color-red-hard);
    color: var( --color-red-hard);
} 
.ui-input[data-state="bad"] input{
    color: var( --color-red-hard);
} 
.ui-input[data-state="bad"] input::placeholder, 
.ui-input[data-state="bad"] label{
    color: var( --color-red-hard);

}
.ui-input:focus-within{
    box-shadow: 0 0 5px 0 #8d8f97c5;
    
}
.ui-input label{
    height: 35px;
    min-width: 35px;
    line-height: 35px;
    text-align: center;
}
.ui-input input{
    border: none;
    background-color: transparent;
    width: 100%;
    padding: 0 10px;
    color: var(--color-gray-hard);
}
.ui-input select{
    border: none;
    background-color: transparent;
    width: 100%;
    padding: 0 10px;
    color: var(--color-blue-normal-1);
}

.ui-input input[type="date"]{
    color: var(--color-blue-normal-1);
}
/* --> eyes pour verfier le password */
.ui-input button{
    color: var(--color-gray-hard);
    height: 19px;
    width: 25px;
    padding: 0px;
    margin-right: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: transform ease-in-out 0.5s;
    position: relative;
}
.ui-input:focus-within button{
    transform: scale(1);
}
.ui-input button i:last-child{
    display: none; 
}
.ui-input button[data-active] i:last-child{
    display: flex;
}
.ui-input button[data-active] i:first-child{
    display: none;
}
.ui-input[data-name="tel"] select{
    width: 75px; 
}
.chekbox {
    background-color: red;
}
/* Chrome 
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	 margin:0;
}
/* Opéra
input::-o-inner-spin-button,
input::-o-outer-spin-button { 
	-o-appearance: none;
	margin:0
}
.ui-input .show-password{
    background-color: var(--color-blue-light-2);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    right: 7px;
    transform: scale(0) rotate(-300deg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}
.ui-input:focus-within .show-password{
    transform: scale(1) rotate(0);
}
.show-password::after{
    content: '\f06e';
    font-family: 'Font Awesome 6 Pro';
    font-size: 10px;
    color: var(--color-blue-normal-1);
}
.show-password[data-state="on"]::after{
    content: '\f070';
}
.ui-input input::placeholder{
    color: #b2b8cc;
}
/* Input des selecteur de controls 

.input-select .input-cont{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--color-blue-normal-1);
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: 0 0 5px 0 #e0e7ff;
    position: relative;
    margin-bottom: 0;
    transition: margin-bottom .3s ease-in-out, color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.input-select .input-cont::after{
    position: relative;
    content: '\f078';
    right: 4px;
    font-size: 14px;
    font-family: 'Font Awesome 6 Pro';
}
.input-select .input-cont input{
    border: none;
    background-color: transparent;
    width: 100%;
    padding-left: 0;
    color: inherit;
}
.input-select .input-cont label{
    height: 35px;
    min-width: 30px;
    line-height: 35px;
    text-align: center;
    color: inherit;
}
    /* --> input de otp */
.cont-otp-input{
    display: flex;
    gap: 10px;
}
.cont-otp-input .otp-input{
    width: 35px;
    height: 35px;
    text-align: center;
    outline: 1px solid var(--color-gray-hard-1);
    border-radius: 5px;
}
.cont-otp-input .otp-input input{
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    font-size: 17px;
    color: var(--color-blue-normal-1);
}