
/* CSS DU COMPOSANT DE CHRAGEMENT */
#loader{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    height: 100%;background-color: rgba(255, 255, 255, 0.744);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#loader[show]{
    display: flex;
}
#loader .spinner{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: spin 2s linear infinite;
}
#loader .spinner::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 50%;
    border: solid 4px var(--color-gray-hard-3);
}
#loader .spinner::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 50%;
    border: solid 4px transparent;
    border-left-color:var(--color-gray-hard-1);
    animation: spin 0.8s linear infinite, opa 0.8s ease-in-out infinite alternate-reverse;
}
#loader img{
    width: 95px;
    height: 50px;
}
#loader i{
    font-size: 20px;
}
#loader .i{
   background-color: var(--color-gray-hard-);
   padding: 7px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
}