.infos-personnels[data-name="statut"] .availability table{
    border-collapse: collapse;
    width: 100%;
    background-color: var(--color-white);
    text-align: center;
    font-size: 13px;
}
.availability table th,
.availability table td{
    height: 40px;
    padding: 3px;
}
.availability table td:last-child{
    text-align: right;
}
.availability table tbody tr:hover{
    background-color: var(--color-gray-hard-3);
    /* text-align: cen; */
}
.cont-my-post table tbody td:last-child div{
    display: flex;
    gap: 10px;
    justify-content: end;
}

.cont-my-post table{
    width: 100%;
    border-spacing: 0 5px;
    background-color: var(--color-white);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
.cont-my-post table tbody tr:hover td{
    background-color: var(--color-white);
}

.cont-my-post table tbody td{
    padding: 5px;
    background-color: var(--color-gray-hard-3);
    font-weight: lighter;
}
.cont-my-post table tbody td:last-child{
    text-align: right;
}

@media (max-width: 855px) {
    .cont-my-post table{
        font-size: 12px; 
    }
    .cont-my-post table tbody td:last-child{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

@media (max-width: 355px) {
    .cont-my-post table tbody td:last-child{
        font-size: 11px; 
    }
}