.modal[data-name="publication"] .box .body{
   display: flex;
   background-color: var(--color-white);
   flex-direction: column;
   gap: 10px;
}
.modal[data-name="publication"] .controler{
   justify-content: end;
}

.modal[data-name="publication"] .publication-text{
   /* background-color: red; */
   max-height: 500px !important;
   display: flex;
}
.modal[data-name="publication"] .publication-text textarea{
   width: 100%;
   border-radius: 10px;
   border: none;
   padding: 5px;
   font-size: 18px;
   text-align: left;
   max-height: 200px;
   min-height: 180px; 
   box-sizing: border-box;
   font-weight: 500;
   line-height: 1.4;
   scrollbar-width: none;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.modal[data-name="publication"] .publication-text textarea::placeholder{
   color: rgba(57, 56, 56, 0.833) !important;
   font-weight: lighter;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.modal[data-name="publication"] .files{
   border: 1px dashed var(--color-gray-hard-1);
   padding: 10px;
   border-radius: 10px;
   height: 58px;
   display: flex;
   color: var(--color-gray-hard-3);
   align-items: center;
}
.modal[data-name="publication"] .files label{
   color: var(--color-gray-hard-1);
   align-items: center;
   gap: 10px;
   display: flex;
}
.modal[data-name="publication"] .files label i{
   font-size: 25px;
}
.modal[data-name="publication"] .files input{
   background-color: red;
   display: none;
}
.modal[data-name="publication"] .medias-parameter{
   display: flex;
   flex-direction: column;
   background-color: var(--color-gray-hard-3);
   flex-wrap: nowrap;
   max-width: 400px;
   border-radius: 10px;
}
.modal[data-name="publication"] .medias-parameter .img-container{
   display: flex;
   gap: 10px;
   padding: 10px;
   overflow-y: hidden;
   overflow-x: auto;
   scrollbar-width: none;
}
.modal[data-name="publication"] .medias-parameter .parameter {
   display: flex;
   gap: 10px;
   flex-direction: column;
} 
.modal[data-name="publication"] .medias-parameter .confidentiality {
   display: flex;
   align-items: center;
   padding: 10px;
   gap: 10px;
}
.medias-parameter .confidentiality label{
   height: 30px;
   display: flex;
   gap: 10px;
   align-items: center;
}
.medias-parameter .confidentiality .switch{
   height: 21px;
   width: 35px;
   border-radius: 10px;
   position: relative;
   display: flex;
   align-items: center !important;
   background-color: #59595929;
}
.medias-parameter .confidentiality input{
   display: none;
}
.medias-parameter .confidentiality .switch::after{
   height: 15px;
   content: '';
   width: 15px;
   background-color: white;
   position: absolute;
   border-radius: 20px;
   left: 3px;
}
.medias-parameter .confidentiality input:checked + .switch::after{
   left: 17px;
}
.confidentiality span:nth-child(2),
.confidentiality span:nth-child(3){
   height: 25px;
   background-color: rgb(143, 138, 138);
   /* width: 25px; */
   color: white;
   padding: 0 10px;
   line-height: 25px;
   text-align:center;
   border-radius: 5px;
}
.medias-parameter .parameter .confidentiality span[data-active]:nth-child(2),
.medias-parameter .parameter .confidentiality span[data-active]:nth-child(3){
   color: var(--color-gray-hard-1);
   background-color: white;
}