.modal[data-name="publication"] .box .body{
   display: flex;
   background-color: var(--color-white);
}

.modal[data-name="publication"] .ui-input[data-name="publication-text"] {

}

.modal[data-name="publication"] .input input{
   background-color: red;
   z-index: 50;
   display: none;
}
