.modal[data-name="publication"] .box .body{
   display: flex;
   background-color: var(--color-white);
   flex-direction: column;
}

.modal[data-name="publication"] .publication-text{
   background-color: red;
}
.modal[data-name="publication"] .publication-text textarea{
   width: 100%;
   border-radius: 10px;
   padding: 5px;
}

.modal[data-name="publication"] .input input{
   background-color: red;
   z-index: 50;
   display: none;
}
