/* CSS DES GRILLES DE NOTIFICATIONS */
#notification{
    position: absolute;
    right: 0;
    z-index: 900;
    width: 350px;
    bottom: 0;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#notification .notif-item{
    width: 320px;
    max-height: 60px;
    box-sizing: border-box;
    background-color: var(--color-white);
    display: none;
    align-items: center;
    overflow: hidden;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    transform: scale(0);
    box-shadow: 0 0 7px -2px var(--color-gray-hard-1);
    transition: transform .3s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity .2s ease-in-out, max-height .3s ease-in-out;
}
#notification .notif-item .notif-text-content{
    margin-right: auto;
}

#notification .notif-item[data-show]{
    opacity: 1;
    transform: scale(1);
    display: flex;
}

#notification .notif-item .icon{
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 15px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    color: var(--color-white);
}

#notification .notif-item .icon::before{
    position: absolute;
    text-align: center;
    left: 0;
    font-size: 35px;
    content: '\f335';
    font-family: 'Font Awesome 6 Pro';
    z-index: -1;
}

#notification .notif-item .exit{
    text-align: center;
    margin-left: 5px;
    border-radius: 50%;
    cursor: pointer; 
    color: #cccccc;
}

#notification .notif-item[data-name="exit"] {
    border-left: 5px solid var(--color-red-soft);
}
#notification .notif-item[data-name="exit"] .exit{
    color: var(--color-red-soft);
}
#notification .notif-item[data-name="good"] .exit{
    color: var(--color-green-lite-2);
}
#notification .notif-item[data-name="exit"]:hover{
    box-shadow: 0 0 7px -2px var(--color-red-hard);
}
#notification .notif-item[data-name="good"]:hover{
    box-shadow: 0 0 7px -2px var(--color-green-hard);
}
#notification .notif-item[data-name="await"]:hover{
    box-shadow: 0 0 7px -2px var(--color-gray-hard);
}
.notif-item[data-name="exit"] .icon::before{
    color: var(--color-red-soft);
}
#notification .notif-item[data-name="await"]{
    border-left: 5px solid #cccccc;
}
.notif-item[data-name="good"] .icon::before{
    color: var(--color-green-lite-2);  
}
.notif-item[data-name="await"] .icon::before{
    color: #cccccc;  
}
#notification .notif-item[data-name="good"]{
    border-left: 5px solid var(--color-green-lite-2);
}
#notification .notif-item .title{
    text-wrap: nowrap;
    color: var(--color-gray-hard-1);
    font-size: 13px;
}
#notification .notif-item .text{
    font-size: 12px;
    display: flex;
    overflow: hidden;
    max-width: 240px;
    text-overflow: ellipsis;
    font-weight: lighter;
}

/* RESPONSIVE STATE */
@media (max-width: 344px) {
    #notification{
        width: 300px;
    }
    #notification .notif-item{
        width: 290px;
        max-height: 80px;
    }
    #notification .notif-item .icon::before{
        left: -2px;
    }
}



